* {
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar { display: none }

html { font-size: 62.5% }

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: monospace;
    font-weight: 400;
    font-size: 1.5em;
    color: #222;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

#prompt {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    border-top: 0.1rem solid #000;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

#prompt.right { flex-direction: row }
#prompt.left { flex-direction: row-reverse }

#keyboard {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3.6rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(3.6rem, 1fr))
}

#keyboard.lowercase .uppercase { display: none }
#keyboard.uppercase .lowercase { display: none }

@media screen and (min-width: 750px) {
    #keyboard {
        grid-template-columns: repeat(auto-fit, minmax(7.2rem, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(7.2rem, 1fr));
        font-size: 3.6rem;
    }
}

#text {
    width: 100%;
    min-width: 56%;
    height: 100%;
    padding: 1.2rem;
    overflow-y: scroll;
    color: #fff;
}

#controls {
    width: 40%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-pad {
    width: 100%;
    height: 75%;
    margin: 0;
    padding: 1.2rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(3.6rem, 1fr));
    grid-template-rows: repeat(3, minmax(3.6rem, 1fr));
    gap: 0;
}

.d-pad button {
    border: 0.1rem solid #ddd;
    color: #ddd;
    background: transparent;
    font-size: 2.4rem;
    font-weight: bold;
}

.d-spacer {
    margin: 0;
    border-radius: 0;
    background: #ddd;
}

#up { border-radius: 0.6rem 0.6rem 0 0 }
#right { border-radius: 0 0.6rem 0.6rem 0 }
#down { border-radius: 0 0 0.6rem 0.6rem }
#left { border-radius: 0.6rem 0 0 0.6rem }

.d-pad button:focus,
.d-pad button:hover {
    border-width: 0.2rem;
    border-color: #fff;
    color: #fff;
}

.g-btn {
    width: 100%;
    height: 25%;
    margin: 0;
    display: flex;
    align-items: center;
}

.g-btn button {
    height: 100%;
    outline: 0;
    border-top: 0.1rem solid #eee;
    color: #eee;
    background: transparent;
    font-size: 2.4rem;
    flex: 1;
}

.g-btn button:focus,
.g-btn button:hover {
    border-color: #fff;
    color: #fff;
}

*.collapsed { display: none !important}